body {
  display: flex;
  flex-direction: column;
}

#title-bar {
  display: flex;
  /* justify-content: space-between; */
  background: var(--bg-2);
  border-bottom: 1px solid var(--bg-5);
}

#title-bar > span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-bar > span:first-child {
  justify-content: start;
}

#title-bar > span:last-child {
  justify-content: end;
}

#title-bar > .logo {
  align-items: center;
}

#title-bar button {
  height: 32px;
  padding-inline: 8px;
}

#title-bar > .logo {
  font-family: "Audiowide";
}

#exit-button:hover {
  color: #fff;
  background: #c42b1c;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  background: var(--bg-2);
}

#toolbar > * {
  display: flex;
}

#toolbar button {
  padding: 8px 10px;
}

main {
  display: flex;
  flex-grow: 1;
}

#explorer {
  background: var(--bg-1);
  width: 160px;
}

#explorer > .title {
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 11px;
}

#explorer li {
  padding: 3px 16px;
}

#explorer > li {
  list-style: none;
  font-weight: bold;
}

#explorer > ul {
  margin: 0;
  padding: 0;
}

#explorer > ul > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  list-style-position: inside;
}

#explorer > ul > li:hover {
  background: #8881;
}

#explorer > ul > li.active {
  background: #8882;
}

#editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#tab {
  background: var(--bg-1);
}

#tab > button {
  background: var(--bg-2);
  padding: 8px 10px;
}

#tab > button.active {
  background: var(--bg-0);
}

.cm-editor {
  flex-grow: 1;
}

.cm-editor[hidden] {
  display: none !important;
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-editor .cm-content,
.cm-gutters {
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
}

.cm-gutters {
  background: unset !important;
  border-right: 1px solid #8884 !important;
}

.cm-lineNumbers {
  width: 44px;
}

.cm-activeLineGutter {
  background: unset !important;
  color: var(--gray-2);
}

.cm-activeLine {
  background: #8881 !important;
}

.cm-selectionBackground {
  background: #8884 !important;
}

#status-bar {
  height: 24px;
  background: var(--bg-2);
}