body > div {
  padding: 24px;
}

body > div:last-child {
  background: var(--bg-1);
}

.logo {
  font-size: 2.5rem;
}

.copyright {
  text-align: right;
  margin-top: auto;
}

#start-button {
  font-weight: bold;
  align-self: center;
  min-width: 192px;
}